$blue:#0674ec;
$bg:#eef1f3;

@mixin f400 {
    font-family: "Quicksand-Regular";
    font-weight: normal;
}

@mixin f500 {
    font-family: "Quicksand-Medium";
    font-weight: normal;
}

@mixin f700 {
    font-family: "Quicksand-Bold";
    font-weight: normal;
}