@import "global";

.footer {
  background-color: #262b30;
}

.footer-top__inner {
  display: flex;
  justify-content: space-between;
  padding: 107px 0;
}

.footer-menu {
  width: 300px;
  color: #ababab;

  &__logo {
    margin-bottom: 25px;
  }

  &__text {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 25px;
  }
}

.footer-address {
  &__tel,
  &__mail {
    text-decoration: none;
    color: #ababab;
  }
  &__link {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    line-height: 26px;
    font-style: normal;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/ph.svg);
      background-size: cover;
      width: 19px;
      height: 19px;
      left: 0;
      top: 5px;
    }

    &--email::before {
      background-image: url(../images/email.svg);
    }

    &--address::before {
      top: 15px;
      background-image: url(../images/pin.svg);
    }
  }
}

.footer-item {
  width: 145px;

  &__title {
    font-size: 18px;
    line-height: 42px;
    letter-spacing: 0.5px;
    color: #fff;
  }

  &__menu {
    padding: 0;
    margin: 0;
  }

  &__list {
    margin-bottom: 15px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: #ababab;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 28px;
    color: #ababab;
  }

  &__form {
    position: relative;
    margin-bottom: 25px;
  }

  &__nabor {
    width: 360px;
    padding: 17px;
    padding-left: 30px;
    padding-right: 121px;
    border-radius: 28px;
    border: transparent;
    outline: transparent;
  }

  &__btn {
    position: absolute;
    right: -216px;
    top: 0;
    padding: 17px 30px;
    background-color: #0674ec;
    border-radius: 28px;
    border: transparent;
    outline: transparent;
    color: #fff;
  }

  &__emaile {
    margin-bottom: 45px;
  }

  &__social {
    display: flex;
    justify-content: space-between;
  }

  &__social-img {
    margin-right: 10px;
    text-decoration: transparent;
  }
}

.text {
  width: 370px;
}

.footer-down {
  padding: 35px 0;
  background-color: #192027;
  &__text {
    text-align: center;
    color: #ababab;
  }

  &__text-link {
    text-decoration: transparent;
    color: #fff;
  }
}

.link-action {
  &:hover {
    color: #66a1d2;
    transition: all 0.5s;
  }

  &:focus {
    color: #b564d4;
  }
}
